## Import necessary modules

In [0]:
import numpy as np
import pandas as pd
import sklearn
import keras
import seaborn
import matplotlib.pyplot as plt
import tensorflow
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix
!pip install -q keras_metrics
import keras_metrics
from sklearn.model_selection import cross_validate

In [2]:
url = 'https://raw.githubusercontent.com/Dalthirr/NeuralNetworks/master/Churn_Modelling.csv'
df=pd.read_csv(url) #Pobieranie danych
df = df.drop(["CustomerId", "Surname", "RowNumber"],
        axis=1)
df = pd.concat([df, pd.get_dummies(df[["Gender", "Geography"]], drop_first=True)],
               sort=False, axis=1).drop(df[["Gender", "Geography"]], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
CreditScore          10000 non-null int64
Age                  10000 non-null int64
Tenure               10000 non-null int64
Balance              10000 non-null float64
NumOfProducts        10000 non-null int64
HasCrCard            10000 non-null int64
IsActiveMember       10000 non-null int64
EstimatedSalary      10000 non-null float64
Exited               10000 non-null int64
Gender_Male          10000 non-null uint8
Geography_Germany    10000 non-null uint8
Geography_Spain      10000 non-null uint8
dtypes: float64(2), int64(7), uint8(3)
memory usage: 732.5 KB

In [0]:
X=df.drop(['Exited'], axis=1)
y=df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42,stratify=y)

scaler=StandardScaler().fit(X_train)
X_train_std = scaler.transform(X_train)

X_test_std = scaler.transform(X_test)

X_std=scaler.transform(X)

**Tomek**

In [28]:
# Import `Sequential` from `keras.models`
from keras.models import Sequential

# Import `Dense` from `keras.layers`
from keras.layers import Dense

# Creating Model, I will build simple networt using Sequential.
model=Sequential()
# Add an input layer shape depends on shape of X. We have 11 columns in X.
model.add(Dense(11, activation='relu', input_shape=(11,)))

# Add one hidden layer 
model.add(Dense(51, activation='relu'))



# Add an output layer 
model.add(Dense(1, activation='sigmoid'))


model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=[keras_metrics.precision(),'accuracy'])
                   
model.fit(X_train_std, y_train,epochs=3, batch_size=1, verbose=1,validation_data=(X_test,y_test))

model.evaluate(X_test_std,y_test)

Train on 6700 samples, validate on 3300 samples
Epoch 1/3
6700/6700 [==============================] - 27s 4ms/step - loss: 0.4428 - precision: 0.6097 - acc: 0.8091 - val_loss: 3.2822 - val_precision: 0.0000e+00 - val_acc: 0.7964
Epoch 2/3
6700/6700 [==============================] - 27s 4ms/step - loss: 0.3728 - precision: 0.6865 - acc: 0.8412 - val_loss: 3.2822 - val_precision: 0.0000e+00 - val_acc: 0.7964
Epoch 3/3
6700/6700 [==============================] - 27s 4ms/step - loss: 0.3529 - precision: 0.7229 - acc: 0.8527 - val_loss: 3.2822 - val_precision: 0.0000e+00 - val_acc: 0.7964
3300/3300 [==============================] - 0s 52us/step

[0.34294168504801664, 0.7394366195447333, 0.8581818181818182]

In [14]:
y_pred=model.predict(X_test_std)

#report=classification_report(y_test,y_pred)
#print(report)

predykcja={'predykcja':list(y_pred),'Cel':list(y_test)}
check=pd.DataFrame.from_dict(predykcja)
check

           predykcja  Cel
0       [0.11859158]    0
1       [0.06410396]    0
2      [0.019999474]    0
3      [0.101529986]    1
4       [0.36481586]    1
5      [0.037815154]    1
6      [0.017985255]    0
7      [0.041149765]    0
8        [0.4685753]    0
9       [0.19277439]    0
10     [0.019845039]    0
11     [0.067426085]    0
12      [0.08198354]    0
13      [0.51006436]    1
14     [0.047699153]    0
15       [0.3127935]    1
16      [0.10509074]    0
17      [0.14791429]    0
18      [0.09060204]    0
19      [0.17253149]    0
20      [0.19081536]    0
21     [0.014982462]    0
22      [0.02778992]    0
23     [0.049399555]    0
24      [0.21602562]    0
25      [0.12159145]    0
26      [0.10152921]    0
27       [0.8593445]    1
28      [0.32556725]    0
29     [0.014929235]    0
...              ...  ...
3270    [0.23196793]    0
3271    [0.24788877]    0
3272    [0.10891959]    0
3273   [0.016104281]    0
3274   [0.034446657]    0
3275    [0.11100799]    0
3276    [0.12442538]    0
3277    [0.14951506]    0
3278    [0.23351017]    1
3279   [0.100061774]    0
3280   [0.041002303]    0
3281    [0.30359313]    0
3282   [0.028434277]    1
3283   [0.061726958]    0
3284    [0.40947908]    1
3285    [0.17431584]    0
3286    [0.23699969]    0
3287    [0.17580399]    0
3288    [0.13161337]    0
3289  [0.0049266517]    0
3290    [0.07506713]    0
3291   [0.038497478]    0
3292     [0.3543629]    0
3293     [0.1598196]    0
3294    [0.07707894]    0
3295   [0.006144911]    0
3296   [0.028897017]    0
3297    [0.40862894]    1
3298    [0.11779246]    0
3299   [0.025580913]    0

[3300 rows x 2 columns]